<nav class="flex items-center justify-end sm:justify-between py-4 px-4 sm:px-10 h-20 w-full">
  <a href="/" class="sm:flex md:flex lg:flex hidden">
    <button class="btn" type="button" (click)="logout()">
      <span class="logo font-lemon">Pocketful</span>
    </button>
  </a>

  <div class="right-side">
    <div *ngIf="isAuthenticated; else notSigned" class="signed-account-container">
      <span class="signed-account-name">
        {{ sessionName }}
      </span>

      <div class="arrow-container">
        <button type="button" (click)="openDialog()">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
            <path d="M480-360 280-560h400L480-360Z" />
          </svg>
        </button>

        <app-simple-dialog [visible]="isDialogVisible" (close)="closeDialog()" [position]="'bottom'">
          <div class="dialog-container">
            <button type="button" (click)="logout()">
              <span>Desconectar</span>
            </button>
          </div>
        </app-simple-dialog>
      </div>
    </div>

    <ng-template #notSigned>
      <a href="/auth/sign-in">
        <button type="button" title="Desconectar">
          Entrar
        </button>
      </a>

      <a href="/auth/sign-up">
        <button class="btn btn-white" type="button" title="Desconectar">
          Cadastre-se
        </button>
      </a>
    </ng-template>
  </div>
</nav>