<section class="max-w-6xl mx-auto my-[5vh] p-5 sm:p-10 flex flex-col gap-6">
  <div class="flex items-center justify-between">
    <h1 class="text-2xl font-semibold">
      Pagamentos
    </h1>

    <a href="/payments/new" class="w-32">
      <button type="button" title="Cadastrar novo pagamento" class="btn btn-primary">
        Cadastrar
      </button>
    </a>
  </div>

  <form (ngSubmit)="getPayments()" [formGroup]="formControl" class="flex md:flex-row flex-col w-full gap-4">
    <fieldset class="flex flex-col gap-2 border-none w-full md:w-80">
      <label for="startAt" class="text-field-label">De</label>
      <input type="date" [max]="formControl.get('endAt')" formControlName="startAt" placeholder="00/00/0000"
        (change)="getPayments()" class="text-field" />
    </fieldset>

    <fieldset class="flex flex-col gap-2 border-none w-full md:w-80">
      <label for="endAt" class="text-field-label">Para</label>
      <input type="date" formControlName="endAt" placeholder="00/00/0000" (change)="getPayments()" class="text-field" />
    </fieldset>
  </form>

  <div *ngIf="payments$ | async as payments; else loading" class="flex flex-col gap-6">
    <ul *ngIf="!!payments.length; else isEmpty" class="flex flex-col overflow-y-auto gap-2 sm:gap-4">
      <li *ngFor="let payment of payments" [ngClass]="{ 'border-l-red-400': isExpired(payment) }"
        class="hover:bg-slate-50 delay-100 ease-in-out rounded border border-slate-200 border-l-8 shadow">
        <a [title]="payment.description" [href]="getPaymentURL(payment.id)">
          <div class="desktop p-6 grid grid-cols-4 gap-4">
            <div class="flex items-center gap-6">
              <span class="material-symbols-outlined">
                {{ getIconByCategory(payment.paymentCategory.id) }}
              </span>

              <div class="flex flex-col">
                <span class="text-slate-700 font-bold">
                  {{ payment.description }}
                </span>

                <small class="text-slate-500">
                  {{ payment.paymentCategory.name }}
                </small>
              </div>
            </div>

            <div class="flex flex-col items-center justify-center">
              <span class="text-slate-700 font-bold">
                {{ payment.deadlineAt | date:'dd/MM/yyyy' }}
              </span>

              <small class="text-slate-500">
                Vencimento
              </small>
            </div>

            <div class="flex items-center justify-center">
              <span *ngIf="payment.payed; else pendente" class="bg-green-200 rounded px-4 py-1 text-green-700">
                Debitado
              </span>

              <ng-template #pendente>
                <span class="bg-blue-200 primary-color rounded px-4 py-1">
                  Pendente
                </span>
              </ng-template>
            </div>

            <div class="flex items-center justify-end">
              <span class="font-bold">
                R$ {{ payment.amount | currencyBRL }}
              </span>
            </div>
          </div>

          <div class="mobile flex flex-col justify-center px-3 py-4 gap-2"
            [ngClass]="{ 'border-l-red-400': isExpired(payment) }">
            <div class="flex justify-between">
              <div class="flex flex-col w-8/12">
                <span class="text-slate-700 font-bold truncate">
                  {{ payment.description }}
                </span>
              </div>

              <span class="font-bold">
                R$ {{ payment.amount | currencyBRL }}
              </span>
            </div>

            <div class="flex flex-row justify-between items-center">
              <small class="text-slate-500">
                {{ payment.deadlineAt | date:'dd/MM/yyyy' }}
              </small>

              <small *ngIf="payment.payed" class="bg-green-200 text-green-700 rounded px-2 py-1">
                Debitado
              </small>

              <small *ngIf="!payment.payed" class="bg-blue-200 primary-color rounded px-2 py-1">
                Pendente
              </small>
            </div>
          </div>
        </a>
      </li>
    </ul>

    <ng-template #isEmpty>
      <div *ngIf="!hasFailed" class="text-slate-500 h-[20vh] flex justify-center items-center">
        <span class="w-80 text-center">
          Parece que você não possui pagamentos no período selecionado.
        </span>
      </div>
    </ng-template>
  </div>

  <ng-template #loading>
    <div *ngIf="!hasFailed" class="flex flex-col items-center justify-center gap-8 p-8 h-48 mt-[6vh]">
      <div class="flex flex-col text-center text-slate-500 gap-3">
        <span class="text-xl text-slate-500">
          Carregando...
        </span>

        <div class="flex flex-col">
          <span class="text-md">
            Isso pode levar alguns instantes.
          </span>

          <span class="text-md">
            Agradecemos sua paciência enquanto estamos preparando tudo para você.
          </span>
        </div>
      </div>
    </div>
  </ng-template>

  <div *ngIf="hasFailed" class="flex flex-col items-center justify-center gap-8 p-8 h-48 mt-[6vh]">
    <div class="flex flex-col text-center text-slate-500 gap-3">
      <span class="text-xl">
        Sentimos muito!
      </span>

      <div class="flex flex-col">
        <span class="text-md">
          Parece que estamos enfrentando alguns problemas.
        </span>

        <span class="text-md">
          Por favor, tente novamente mais tarde.
        </span>
      </div>
    </div>

    <div class="w-48">
      <button (click)="getPayments()" class="btn btn-primary-outlined">
        Tentar novamente
      </button>
    </div>
  </div>
</section>