<main class="p-8 max-w-3xl mx-auto mt-[10vh]">
  <form (ngSubmit)="onSubmit()" [formGroup]="formGroup" class="flex flex-col gap-6 md:gap-6 w-full">
    <h1 class="text-2xl font-semibold text-slate-700">
      Cadastrar pagamento
    </h1>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-8">
      <fieldset class="flex flex-col w-full gap-2">
        <label for="amount" class="font-semibold text-slate-700">
          Valor
        </label>

        <div class="flex items-center w-full">
          <span class="flex items-center h-12 py-2 px-4 text-white rounded-l bg-slate-600">
            R$
          </span>

          <input id="amount" name="amount" formControlName="amount" type="text" placeholder="0,00"
            [ngClass]="{ 'invalid-text-field': isFieldHintDisplayed(formGroup, 'amount') }"
            class="w-full px-4 h-12 border border-slate-200 rounded-r" />
        </div>

        <div *ngIf="isFieldValidationVisible(formGroup, 'amount')">
          <span *ngIf="validatePresenceOfErrors(formGroup, 'amount', 'required')" class="text-field-validation">
            Campo obrigatório.
          </span>
        </div>
      </fieldset>

      <fieldset class="flex flex-col w-full gap-2">
        <label for="description" class="font-semibold text-slate-700">
          Descrição
        </label>

        <input id="description" name="description" formControlName="description" type="text"
          placeholder="Ex.: Transporte" class="w-full px-4 h-12 border border-slate-200 rounded"
          [ngClass]="{ 'invalid-text-field': isFieldHintDisplayed(formGroup, 'description') }" />

        <div *ngIf="isFieldValidationVisible(formGroup, 'description')">
          <span *ngIf="validatePresenceOfErrors(formGroup, 'description', 'required')" class="text-field-validation">
            Campo obrigatório.
          </span>
        </div>
      </fieldset>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-8">
      <fieldset class="flex flex-col w-full gap-2">
        <label for="type" class="font-semibold text-slate-700">
          Tipo
        </label>

        <select formControlName="type" [ngClass]="{ 'invalid-text-field': isFieldHintDisplayed(formGroup, 'type') }"
          class="w-full px-4 h-12 border border-slate-200 rounded">
          <option value="Despesa">Despesa</option>
          <option value="Entrada">Entrada</option>
        </select>

        <div *ngIf="isFieldValidationVisible(formGroup, 'type')">
          <span *ngIf="validatePresenceOfErrors(formGroup, 'description', 'required')" class="text-field-validation">
            Campo obrigatório.
          </span>
        </div>
      </fieldset>

      <fieldset class="flex flex-col w-full gap-2">
        <div class="flex items-center justify-between">
          <label for="description" class="font-semibold text-slate-700">
            Categoria
          </label>

          <button type="button" title="Gerenciar categorias"
            class="text-blue-500 hover:underline duration-200 ease-in-out">
            Gerenciar
          </button>
        </div>

        <section class="relative">
          <select id="category" name="category" formControlName="category"
            [ngClass]="{ 'invalid-text-field': isFieldHintDisplayed(formGroup, 'category') }"
            class="w-full px-4 h-12 border border-slate-200 rounded">
            <option value="">Selecione uma categoria</option>

            <option *ngFor="let category of categories$ | async" [value]="category.id">
              {{ category.name }}
            </option>
          </select>
        </section>

        <div *ngIf="isFieldValidationVisible(formGroup, 'category')">
          <span *ngIf="validatePresenceOfErrors(formGroup, 'category', 'required')" class="text-field-validation">
            Campo obrigatório.
          </span>
        </div>
      </fieldset>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-8 items-end">
      <fieldset class="flex flex-col w-full gap-2">
        <label for="dayOfMonth" class="font-semibold text-slate-700">
          Dia do mês
        </label>

        <input type="date" id="dayOfMonth" name="dayOfMonth" formControlName="dayOfMonth" placeholder="00/00/0000"
          class="text-field" [ngClass]="{ 'invalid-text-field': isFieldHintDisplayed(formGroup, 'dayOfMonth') }" />

        <div *ngIf="isFieldValidationVisible(formGroup, 'dayOfMonth')">
          <span *ngIf="validatePresenceOfErrors(formGroup, 'dayOfMonth', 'required')" class="text-field-validation">
            Campo obrigatório.
          </span>

          <span *ngIf="validatePresenceOfErrors(formGroup, 'dayOfMonth', 'invalidDate')" class="text-field-validation">
            Data inválida.
          </span>
        </div>
      </fieldset>

      <fieldset class="flex flex-col w-full gap-2">
        <label for="times" class="font-semibold text-slate-700">
          Número repetições
        </label>

        <div class="flex items-center">
          <input formControlName="times" placeholder="Ex.: 10"
            [ngClass]="{ 'invalid-text-field': isFieldHintDisplayed(formGroup, 'times') }"
            class="w-full px-4 h-12 border border-slate-200 rounded" />

          <span class="flex items-center w-24 h-12 py-2 px-4 text-white rounded-r bg-slate-600">
            vezes
          </span>
        </div>

        <div *ngIf="isFieldValidationVisible(formGroup, 'times')">
          <span *ngIf="validatePresenceOfErrors(formGroup, 'times', 'required')" class="text-field-validation">
            Campo obrigatório.
          </span>
        </div>
      </fieldset>
    </div>

    <small class="w-full">
      Será gerado um novo pagamento no valor de <strong class="underline">{{ valor }}</strong> no decorrer de
      <strong class="underline">{{ totaisMeses }}</strong> todo dia <strong class="underline">{{ diaMes }}</strong>.
      Uma notificação será enviada via e-mail até 5 dias antes alertando o vencimento!
    </small>

    <div class="flex flex-col gap-6">
      <button type="submit" class="btn btn-primary h-16" title="Cadastrar transação">
        CADASTRAR
      </button>

      <a href="/">
        <button type="button" class="btn btn-primary-outlined h-16" title="Cancelar">
          VOLTAR
        </button>
      </a>
    </div>
  </form>
</main>