<section class="m-w-[1920px] mx-auto p-10 flex flex-col gap-6">
  <div class="flex items-center justify-between">
    <h1 class="text-2xl font-semibold">
      Pagamentos
    </h1>

    <a href="/payments/new" class="w-28">
      <button type="button" title="Cadastrar novo pagamento" class="btn btn-primary">
        Cadastrar
      </button>
    </a>
  </div>

  <div *ngIf="payments$ | async as payments; else loading" class="flex flex-col gap-6">
    <form (ngSubmit)="getPayments()" [formGroup]="formControl" class="flex md:flex-row flex-col w-full gap-4">
      <fieldset class="flex flex-col gap-2 border-none w-full md:w-64">
        <label for="startAt" class="text-field-label">De</label>
        <input type="date" [max]="formControl.get('endAt')" formControlName="startAt" placeholder="00/00/0000"
          (change)="getPayments()" class="text-field" />
      </fieldset>

      <fieldset class="flex flex-col gap-2 border-none w-full md:w-64">
        <label for="endAt" class="text-field-label">Para</label>
        <input type="date" formControlName="endAt" placeholder="00/00/0000" (change)="getPayments()"
          class="text-field" />
      </fieldset>
    </form>

    <div *ngIf="!!payments.length; else isEmpty">
      <div *ngFor="let payment of payments">
        {{ payment.description }}
      </div>
    </div>

    <ng-template #isEmpty>
      <span *ngIf="!hasFailed" class="text-slate-500">
        Nenhum pagamento encontrado.
      </span>
    </ng-template>
  </div>

  <ng-template #loading>
    <span class="text-slate-500">
      Carregando...
    </span>
  </ng-template>

  <div *ngIf="hasFailed" class="flex flex-col items-center justify-center gap-8 p-8 h-48">
    <div class="flex flex-col text-center text-slate-500 gap-3">
      <span class="text-xl">
        Sentimos muito!
      </span>

      <div class="flex flex-col">
        <span class="text-md">
          Parece que estamos enfrentando alguns problemas.
        </span>

        <span class="text-md">
          Por favor, tente novamente mais tarde.
        </span>
      </div>
    </div>

    <div class="w-48">
      <button (click)="getPayments()" class="btn btn-primary-outlined">
        Tentar novamente
      </button>
    </div>
  </div>
</section>