/* You can add global styles to this file, and also import other style files */

$primary: #3155d2
$success: #2f7d31
$warning: #ed6d03
$danger: #d3302f
$light-white: #f0f0f0
$white: #FFFFFF
$black: #000000
$dark-gray: #424242

*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: 'Roboto', sans-serif

body
  background-color: $light-white

.font-lemon
  font-family: "Lemon", serif
  font-weight: 400
  font-style: normal
